@media only screen and (max-width: 499px) {
  .container {
    grid-template-rows: 0px 1fr 45px;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);

    margin: 0px;
  }

  .container .add-form {
    display: none;
  }

  .bottom-buttons .add-form {
    display: initial;
    flex-grow: 1;
    margin: 0 0 0 5px;
    height: 100%;
  }

  .bottom-buttons .add-form form input{
    margin-bottom: 10px;
  }

  .add-form form button {
    display: none;
  }

  .todo-list ol li:hover {
    background: #424242;
  }

  .todo-list ol li:active {
    background: #5f5f5f;
  }

  .bottom-buttons {
    display: flex;
  }

  .material-icons {
    font-size: 26px !important;
  }
  .material-icons:hover {
    color: #26c6da;
  }

  .add-form button[type='submit']:hover {
    color: #26c6da;
  }

  .add-form button[type='submit']:active {
    color: #ffb851;
  }

  .delbtn:active {
    color: #D32F2F;
  }

  .editbtn:active {
    color: #f57f17;
  }

  .savebtn:active {
    color: #76ff03;
  }

  .delete-checked-btn {
    font-size: 30px !important;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .delete-checked-btn:active {
    transform: scale(1.1);
    color: #D32F2F;
  }

  .check-all-btn{
    font-size: 30px !important;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .check-all-btn:active {
    transform: scale(1.1);
    color: #ffb851
  }
}