:root{
  --f-color:#F5F5F5;
  --i-color: #26c6da;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--f-color);
}

body {
  background: #212121;
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-areas: 'i''b''f';
  grid-template-rows: 45px 1fr 35px;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);

  width: 500px;
  height: 600px;
  position: relative;
  margin-top: 20px;
  padding: 0;
}

.add-form {
  grid-area: i;
  margin: 10px 10px 0px 10px;
  max-width: 500px;
}

.add-form form {
  display: flex;
  margin-bottom: 10px;
}

.add-form input {
  flex-grow: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: #3d5afe;
  border-radius: 16px;
  height: 32px;
  font-size: 20px;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 5px;
}
.add-form input:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
}
.add-form input:valid,
.add-form input:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #093170;
  color: grey;
}
.add-form input:focus {
  background-color: #2a3eb1;
  color: var(--f-color);
}

.form-label {
  position: absolute;
  height: 34px;
  pointer-events: none;
  font-size: 18px;
  line-height: 34px;
  margin-left: 15px;
  transition: .3s;
}
.add-form input:valid~.form-label,
.add-form input:focus~.form-label {
  margin-top: -21px;
  font-size: 10px;
  color: grey;
}
.add-form input:focus~.form-label{
  color: whitesmoke;
}

.todo-list {
  background-color: #424242;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  grid-area: b;
  margin: 10px;
  padding: 0px 5px 5px 5px;
  overflow-y: auto;
}

.todo-list ol {
  display: grid;
  list-style-type: none;
  max-width: 470px;
  margin: 0px;
  padding: 0px;
}

.todo-list ol li {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  min-height: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin-top: 5px;
  border-radius: 3px;
}

.todo-list ol li:hover {
  background: #5f5f5f;
}

.todo-list ol li input{
  position: relative;
  margin: 5px;
  padding: 0px;
  top: 4px;
}
.todo-list ol li span {
  display: inline-block;
  line-height: 30px;
  padding-left: 5px;
}
.todo-list ol li.checked .todoText {
  text-decoration: line-through black;
  color: grey;
}
.todo-list ol li .input-for-edit {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: none;
  outline: none;
  border-style: none;
  background: #5f5f5f;
  border-radius: 3px;
  margin: 0px;
  padding-left: 5px;
  top: auto;
  line-height: 30px;
  color: var(--f-color);
}

.add-form button[type='submit'] {
  color: #26c6da;

  background: none;
  outline: none;
  border-style: none;
  transition: 0.1s;
  padding: 0px 10px 0px 10px;
}

.add-form button[type='submit']:hover {
  transform: scale(1.1);
  color: #ffb851;
}

.bottom-buttons {
  grid-area: f;
  margin: 0px 10px 0px 10px;
}

.material-icons {
  color: var(--i-color);
  background: none;
  outline: none;
  border-style: none;
  margin: 0px 5px 0px 5px;
  padding: 0px;
  transition: 0.1s;
}

.delbtn:hover {
  color: #D32F2F;
}
.editbtn:hover {
  color: #f57f17;
}
.savebtn:hover {
  color: #1b5e20;
}

.delete-checked-btn:hover {
  transform: scale(1.1);
  color: #D32F2F;
}

.check-all-btn:hover {
  transform: scale(1.1);
  color: #ffb851
}

/*# sourceMappingURL=styles.css.map */
/* html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #b1006c 49%, #00d4ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffffff;
  padding: 24px;
  height: 50%;

  width: 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px black;

  display: flex;
  flex-direction: column;
}

.add-form form {
  display: flex;
  margin-bottom: 10px;
}
.add-form input {
  flex-grow: 1;
  height: 32px;
  font-size: 20px;
  border: none;
  border-bottom: solid #e0e0e0 1px;
  outline: none;
}
.form-label{
  position: absolute;
  pointer-events: none;
  font-size: 18px;
  margin-top: 7px;
  transition: .3s;
}

.add-form input:valid~.form-label,
.add-form input:focus~.form-label {
    margin-top: -6px;
    font-size: 10px;
    color: #757575;
}
.add-form button[type='submit'] {
  margin-left: 10px;
  background: none;
  outline: none;
  border-style: none;
  transition: 0.1s;
}

.add-form button[type='submit']:hover{
  transform: scale(1.1);
  color: #303F9F;
}

.highlight {
  position: absolute;
  margin-top: 34px;
  width: 454px;

  background-color: black;
  height: 2px;
  transition: 0.2s;
  transform: scaleX(0);
}
.add-form input:focus~.highlight {
  transform: scaleX(1);
}

.todo-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 15px;
}

.todo-list ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 18px;
}

.todo-list ol li {
  display: flex;
  border-bottom: solid #e0e0e0 1px;
  margin-bottom: 15px;
}

.todo-list ol li span,
.todo-list ol li input[type="text"] {
  flex-grow: 1;
}

.fas {
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}

.fas:hover {
  color: #303F9F;
}
.fa-trash:hover {
  color: #D32F2F;
}

.todo-list ol li.checked .todoText {
  text-decoration: line-through;
}
.todo-list ol li .todoText {
  font-size: 18px;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin: -15px 0px -10px 0px;
}
.delete-checked-btn {
  background: none;
  outline: none;
  border-style: none;
  transition: 0.1s;
}
.delete-checked-btn:hover {
  transform: scale(1.1);
  color: #D32F2F;
}
.check-all-btn {
  background: none;
  outline: none;
  border-style: none;
  transition: 0.1s;
}
.check-all-btn:hover {
  transform: scale(1.1);
  color: #303F9F
}

.textEmptyVisible {
  user-select: none;
  font-size: 20px;
  font-weight: 400;
  color:#BDBDBD;
}

.input-for-edit{
  flex-grow: 1;
  height: 18px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  border-bottom: solid black 2px;

}
/*# sourceMappingURL=styles.css.map */